@import "core/normalize";

@import "core/variables";
@import "core/animations";
@import "core/mixins";

@import "core/grid";
@import "core/type";
@import "core/scaffold";
@import "core/tables";
@import "core/buttons";
@import "core/forms";
@import "core/icons";
@import "core/images";

// Components
@import 'components/header';
@import 'components/breadcrumbs';
@import 'components/notice';
@import 'components/main';
@import 'components/pagination';
@import 'components/sidebar';
@import 'components/footer';

@import 'components/gallery';
@import 'components/carousel';

// Print
@import "core/print";



body {
  padding: 1em;
  background: $white !important;
}


/* Tinymc */
ul {
  @include listreset();
  li {
    position: relative;
    padding-left: 15px;
    margin-bottom: 5px;
    line-height: 1.7;
    &:before {
      content: 'bb';
      color: $color-link;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  ul {
    margin: 5px 0 5px 10px;
    li:before {
      color: darken($color-link, 10%);
    }
  }
  ol {
    margin: 5px 0 5px 10px;
  }
}

ol {
  @include listreset();
  counter-reset: numbering;
  li {
    position: relative;
    padding-left: 15px;
    margin-bottom: 5px;
    line-height: 1.7;
    &:before {
      content: counter(numbering);
      counter-increment: numbering;
      color: $color-link;
      font-weight: $font-weight-bold;
      position: absolute;
      top: 3px;
      left: 0;
    }
  }
  ul {
    margin: 5px 0 5px 10px;
    li:before {
      background: darken($color-link, 10%);
    }
  }
  ol {
    margin: 5px 0 5px 10px;
    li:before {
      color: darken($color-link, 10%);
    }
  }
}
