//! ==  Setupfiles ==
// @import 'compass/css3', 'compass/utilities';

@import 'variables', 'helpers/functions', 'helpers/mixins', 'helpers/grid', 'helpers/extends';

@import 'common/normalize.drupal';
@import 'common/normalize', 'common/base', 'common/general';

body {
  padding: 1em;
  background: $white !important;
}


/* Tinymc */
.image-left {
  float: left;
  margin: 0 15px 15px 0;
}

.image-right {
  float: right;
  margin: 0 0 15px 15px;
}

ul {
  @include listreset();
  li {
    position: relative;
    padding-left: 15px;
    margin-bottom: 5px;
    line-height: 1.7;
    &:before {
      content: '»';
      color: $highlight-color;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  ul {
    margin: 5px 0 5px 10px;
    li:before {
      color: darken($highlight-color, 10%);
    }
  }
  ol {
    margin: 5px 0 5px 10px;
  }
}

ol {
  @include listreset();
  counter-reset: numbering;
  li {
    position: relative;
    padding-left: 15px;
    margin-bottom: 5px;
    line-height: 1.7;
    &:before {
      content: counter(numbering);
      counter-increment: numbering;
      color: $highlight-color;
      font-weight: $bold;
      position: absolute;
      top: 3px;
      left: 0;
    }
  }
  ul {
    margin: 5px 0 5px 10px;
    li:before {
      background: darken($highlight-color, 10%);
    }
  }
  ol {
    margin: 5px 0 5px 10px;
    li:before {
      color: darken($highlight-color, 10%);
    }
  }
}
