$solid-btn-color: $color-brand-primary !default;
$ghost-btn-color: $color-brand-primary !default;
$btn-line-height: 18px !default;

.btn {
  @include button-variant($white, $solid-btn-color, shade($solid-btn-color, 30%));
  @include transitions((background, border, color));
  display: inline-block;
  padding: 14px 20px;
  border-style: solid;
  border-width: 0 2px 2px 0;
  border-radius: $border-radius-med;
  font-weight: $font-weight-bold;
  line-height: lh($btn-line-height);

  &--ghost {
    @include button-variant(($ghost-btn-color, $white), (transparent, $ghost-btn-color), $ghost-btn-color);
    border-width: 1px;
  }
  &--ext {
    &:after {
      content: '\00A0 \203A';
    }
  }

  &:active,
  &.active {
    outline: 0;
  }

  // Disabled
  // &--disabled,
  // &[disabled] {
  //   opacity: 0.65;
  //   cursor: not-allowed;
  // }

  // // Modifiers
  // &--default {
  //   @include button-variant($color-text, $white, $gray-25);
  //   &:hover,
  //   &:focus,
  //   &:active,
  //   &.active,
  //   .open > &.dropdown-toggle {
  //     background-color: $gray-0;
  //   }
  // }
  // &--brand {
  //   @include button-variant($white, $color-brand-primary, $color-brand-primary);
  // }
  // @each $type, $color in $notice-colors {
  //   &--#{$type} {
  //     @include button-variant($white, hsl(hue($color), 50%, 60%), hsl(hue($color), 50%, 50%));
  //   }
  // }

  &--link {
    display: inline;
    padding: 0;
    background: none;
    border: none;
    color: $color-link;
    @include fsRem($font-size-base);
    line-height: lh($line-height-base);
    text-transform: none;
    &:visited {
      color: $color-link-visited;
    }
    &:hover {
      color: $color-link-hover;
      background: none;
    }
  }

  &--large {
    @include fsRem($font-size-lrg);
    padding: 10px 15px;
  }

  &--small {
    padding: 2px 10px;
  }

  &--xsmall {
    @include fsRem($font-size-sml);
    padding: 0px 10px;
  }

  &--block {
    display: block;
    width: 100%;
  }
}

.btn--close {
  @include fsRem(18px);
  padding: 5px;
  background: $white;
  border-color: $white;
  &:hover,
  &:focus {
    border-color: $white;
    background: $white;
  }
}

a.btn {
  text-decoration: none;
}
