$solid-btn-color: $color-primary !default;
$ghost-btn-color: $color-primary !default;
$btn-line-height: 18px !default;

.btn {
  @include button-variant($white, $solid-btn-color, shade($solid-btn-color, 30%));
  @include transitions((background, border, color));
  display: inline-block;
  padding: .9em 1.2em;
  border-style: solid;
  border-width: 0 2px 2px 0;
  border-radius: $border-radius-med;
  font-weight: $font-weight-bold;
  // line-height: lh($btn-line-height);
  line-height: normal;
  text-decoration: none;
  &--ghost {
    @include button-variant(($ghost-btn-color, $white), (transparent, $ghost-btn-color), $ghost-btn-color);
    border-width: 1px;
  }
  &--ext {
    &:after {
      content: '\203A';
      margin-left: 3px;
    }
  }

  &:active,
  &.active {
    outline: 0;
  }

  // Disabled
  &--disabled,
  &[disabled] {
    opacity: 0.65;
    cursor: not-allowed;
  }

  // // Modifiers
  // @each $type, $color in $notice-colors {
  //   &--#{$type} {
  //     @include button-variant($white, hsl(hue($color), 50%, 60%), hsl(hue($color), 50%, 50%));
  //   }
  // }

  &--link {
    display: inline;
    padding: 0;
    background: none;
    border: none;
    color: $color-link;
    @include fsRem($font-size-base);
    line-height: lh($line-height-base);
    text-transform: none;
    &:visited {
      color: $color-link-visited;
    }
    &:hover {
      color: $color-link-hover;
      background: none;
    }
  }

  &--lrg {
    @include fsRem(20px);
  }
  &--sml {
    @include fsRem(14px);
  }

  &--block {
    display: block;
    width: 100%;
  }

  // &--close {
  //   @include fsRem(18px);
  //   padding: 5px;
  //   background: $white;
  //   border-color: $white;
  //   &:hover,
  //   &:focus {
  //     border-color: $white;
  //     background: $white;
  //   }
  // }
}

