$input-background-color: $white;
$input-background-color-focus: tint($input-background-color, 75%);
$input-border-color: $gray-25;
$input-border-color-focus: $gray-75;
$input-text-color: $color-text;

$error-background: tint(map-get($notice-colors, 'danger'), 90%);
$error-color: map-get($notice-colors, 'danger');

$input-item-margin: $rh-sml;
$input-horizontal-padding: 15px;
$input-vertical-padding: 14px;
$input-icon-padding: ($input-horizontal-padding * 2) + 4px;

%ext-input-style {
  @include transitions((color, background, border));
  position: relative;
  z-index: 10;
  display: block;
  width: 100%;
  padding: $input-vertical-padding $input-horizontal-padding;
  border: 1px solid $input-border-color;
  background-color: $input-background-color;
  color: $input-text-color;
  line-height: normal;
  &:focus {
    outline: none;
    border-color: $input-border-color-focus;
    background: $input-background-color-focus;
    &::-webkit-input-placeholder {
      color: transparent;
    }
    &::-moz-placeholder {
      color: transparent;
    }
  }
  &[disabled],
  .form__disabled {
    cursor: not-allowed;
    background: $gray-0;
  }
  .parsley-error & {
    background-color: $error-background;
    border-color: $error-color;
  }
}

form {
  margin-bottom: $rh-sml;
  &.is-submitted {
    position: relative;
    opacity: .5;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 100;
      cursor: wait;
      cursor: progress;
    }
  }
}

.form {
  &--inline {
    display: flex;
    .form__label {
      @extend .visuallyhidden;
    }
    .form__item {
      flex: 1 1 auto;
      margin: 0;
    }
    .form__actions {
      flex: 0 0 180px;
    }
    .form__btn {
      position: relative;
      left: -1px;
      z-index: 10;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

//== Form items
//-------------
//
// Outer wrapper. Includes label, element and errors
.form__item {
  position: relative;
  margin-bottom: $input-item-margin;
  // Styling for single checkbox
  &--checkbox {
    @include cf;
    input {
      position: absolute;
      left: 0;
      top: 0;
      margin-top: 5px;
    }
    label {
      display: block;
      cursor: pointer;
      position: relative;
      float: left;
      clear: both;
      padding-left: 20px;
      margin-bottom: 0;
      font-weight: $font-weight-regular;
    }
  }
  &--radios,
  &--checkboxes {
    // Styling for the labels inside a group
    .checkbox-group,
    .radio-group {
      @include cf;
      input {
        position: absolute;
        left: 0;
        top: 0;
      }
      label {
        display: block;
        cursor: pointer;
        position: relative;
        float: left;
        clear: both;
        padding-left: 20px;
        margin-bottom: 0;
        font-weight: $font-weight-regular;
      }
    }
  }
  &--checkboxes {
    input {
      margin-top: 5px;
    }
  }
  &--radios {
    input {
      margin-top: 4px;
    }
  }
}
// Inner wrapper. Includes one form element (input, select, ...) and an optional form icon
.form__element {
  position: relative;
}

.form__row {
  display: flex;
  margin-right: -10px;
  margin-bottom: $input-item-margin;
  margin-left: -10px;
  @include breakpoint(map-get($breakpoints, sml), max-width) {
    flex-direction: column
  };
  .form__item {
    flex: 1 1 100%;
    margin: 0 10px;
    @include breakpoint(map-get($breakpoints, sml), max-width) {
      margin-bottom: $input-item-margin;
    };
  }
  .form__actions {
    flex: 0 0 180px;
    margin: auto 0 0;
  }
}

//== Form input types
//-------------------
//
.form__label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: $font-weight-bold;
  &[for] {
    cursor: pointer;
  }
}

.form__text {
  @extend %ext-input-style;
}
.form__textarea {
  @extend %ext-input-style;
  min-height: 140px;
}

.form__radio,
.form__checkbox {
  vertical-align: 0;
}

.form__select {
  @extend %ext-input-style;
  display: block;
  cursor: pointer;
  -webkit-appearance: none;
  // hide mozilla's dirty arrow with -moz-appearance: window
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  &:focus {
    outline: none;
  }
  &::-ms-expand {
    display: none;
  }
}

.form__icon {
  pointer-events: none;
  position: absolute;
  top: 50%;
  z-index: 20;
  margin-top: -.5em;
  line-height: 1;
  &--right {
    right: $input-vertical-padding;
    ~ [class^=form__] {
      padding-right: $input-icon-padding;
    }
  }
  &--left {
    left: $input-vertical-padding;
    ~ [class^=form__] {
      padding-left: $input-icon-padding;
    }
  }

  &--select {
    @extend .form__icon--right;
    &:after {
      content: '\f10f';
      font-family: $font-family-icons;
    }
  }
}

.form__file {
  display: block;
}

//== Form helpers
//---------------
//
.form__description {
  clear: both;
  color: $gray-25;
}
.form__caption {
  display: inline;
  color: $gray-25;
}

//== Form actions
//---------------
//
.form__actions {
  clear: both;
  margin-left: -10px;
  margin-right: -10px;
  a, button {
    margin: 0 10px;
  }
}

.form__btn {
  min-width: 160px;
  padding-top: $input-vertical-padding;
  padding-bottom: $input-vertical-padding;
  .is-submitted & {
    overflow: hidden;
    cursor: not-allowed;
    position: relative;
    &:before {
      content: '';
      display: block;
      animation: move 750ms linear infinite;
      position: absolute;
      top: 0;
      left: -100%;
      z-index: 10;
      height: 3px;
      width: 100%;
      background: rgba($white, .25);
    }
  }
}

.form__btn-space-between {
  display: flex;
  justify-content: space-between;
}

//== Form errors
//--------------
//
.parsley-errors-list,
.form__errors-list {
  @include listreset;
  @include fsRem(14px);
  color: map-get($notice-colors, 'danger');
  font-weight: $font-weight-bold;
  clear: both;
  ul {
    @include listreset;
  }
  li {
    margin-top: $rh-xxs;
  }
}
