.container {
  @include container-fluid;
  max-width: $grid-container-width;
  &--relative {
    position: relative;
  }
}
.container--fluid {
  @include container-fluid;
}
.container--fixed {
  @include container-fluid;
  width: $grid-container-width;
}

.grid {
  @include make-row;
  &--vr-m {
    margin-bottom: $vr-m;
  }
  &--vr-l {
    margin-bottom: $vr-l;
  }
  &.grid--border {
    > .grid__item {
      @include grid__item--border(1);
    }
  }
}
.grid__item {
  @include make-column($grid-columns, $grid-columns);
  margin-top: 0;
  &:nth-child(n+2) {
    margin-top: $vr-m;
  }
}

[class*=grid__] {
  min-height: 1px;
}


// Creates all the standalone grid child classes
// Examples: .grid__3, .grid__6
// @for $column from 1 through $grid-columns {
//   .grid__#{$column} {
//     @include make-column($column);
//   }
// }

// Creates all the breakpoint grid ITEM classes
// Example: .grid--bp-m__8
@each $bp, $px in $breakpoints {
  @include breakpoint($px, 'min-width') {
    .grid--bp-#{$bp} {
      @for $column from 1 through $grid-columns {
        &__#{$column} {
          @include make-column($column);
        }
      }
    }
  }
}

// Creates all the offset class
// Example: .grid--bp-med__offset-8
@each $bp, $px in $breakpoints {
  @include breakpoint($px, 'min-width') {
    .grid--bp-#{$bp}__offset {
      @for $column from 1 through $grid-columns {
        &-#{$column} {
          @include make-column-push($column);
        }
      }
    }
  }
}

// Creates the default grid classes
// Example: .grid--1-col
// @for $column from 1 through $grid-columns {
//   .grid-- {
//     &#{$column}-col {
//       > .grid__item {
//         @if ($column == 1) {
//           float: none;
//           width: 100%;
//         }
//         @include make-column($grid-columns / $column);
//         &:nth-child(#{$column}n+#{($column+1)}) {
//           clear: left;
//         }
//         &:nth-child(n+#{($column+1)}) {
//           margin-top: $vr-m;
//         }
//       }
//       &.grid--border {
//         > .grid__item {
//           @include grid__item--border($column);
//         }
//       }
//       &.grid--narrow {
//         > .grid__item {
//           &:nth-child(n+#{($column+1)}) {
//             margin-top: 15px;
//           }
//         }
//       }
//     }
//   }
// }

// Creates all the breakpoint grid classes
// Examples: .grid--bp-m-2-col, .grid--bp-s-1-col
@each $bp, $px in $breakpoints {
  @include breakpoint($px, 'min-width'){
    .grid--bp-#{$bp} {
      @for $column from 1 through $grid-columns {
        &-#{$column}-col {
          > .grid__item {
            margin-top: 0;
            @include make-column($grid-columns / $column);
            &:nth-child(n+#{($column+1)}) {
              margin-top: $vr-m;
            }
            @if $column != 1 {
              &:nth-child(-n+#{($column)}) {
                margin-top: 0;
              }
            }
          }
          &.grid--connected {
            > .grid__item {
              margin-top: 0;
            }
          }
          &.grid--narrow {
            > .grid__item {
              &:nth-child(n+#{($column+1)}) {
                margin-top: 15px;
              }
            }
          }
          &.grid--border {
            > .grid__item {
              @include grid__item--border($column);
            }
          }
        }
      }
    }
  }
}

// TODO: Write functions to add a vertical divider

// .grid--border.grid--2-col.grid--divider {
//   background: linear-gradient(to right, transparent, $gray-10, transparent);
//   background-position: 50%;
//   background-repeat: repeat-y;
//   background-size: 1px auto;
// }

.grid {
  &--eqh {
    .flexbox & {
      display: flex;
      flex-wrap: wrap;
      &:before,
      &:after {
        display: none;
      }
    }
  }
}
.flexbox {
  .eqh {
    &__item {
      display: flex;
      flex-direction: column;
      align-content: stretch;
      &__child {
        flex-grow: 1;
      }
    }
  }
  &--end {
    display: flex;
    align-items: flex-end;
  }
  &--center {
    display: flex;
    align-items: center;
  }
}
