// Grid
// ----
//
// columns          - The total amount of columns
// gutter           - The amount of space between two columns
// container-*      - The total width of the container for large / medium / small
$grid-gutter-width: $rh-sml !default;
$grid-column-count: 12 !default;
$grid-container-width: 1200px !default;

$grids: (2, 3, 4) !default;
$grid-columns: (3, 4, 6, 8, 9) !default;
$grid-order: () !default;
$grid-columns-push: () !default;
$grid-rhythm: $rh-sml !default;

.container {
  @include container-fluid;
  max-width: $grid-container-width;
  &--relative {
    position: relative;
  }
  &--fluid {
    @include container-fluid;
  }
}

.grid {
  @include make-row;
  display: flex;
  flex-wrap: wrap;
  > * {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    min-height: 1px;
    width: 100%;
    margin-top: $grid-rhythm;
    padding-left: ($grid-gutter-width / 2);
    padding-right: ($grid-gutter-width / 2);
  }
}

.grid--reverse {
  display: flex;
  flex-direction: row-reverse;
}

.grid__0 {
  display: none;
}
.grid__12 {
  display: block;
}

//== Standard repeating grid
//-------------
//
// Creates all the breakpoint grid classes
// Examples: .grid--2-col
@each $bp, $px in $breakpoints {
  .grid {
    @each $column in $grids {
      &--#{$column}-col {
        > .grid__item {
          @include make-repeating-column($column);
          min-height: 1px;
        }
      }
    }
  }
}

// changes flexbox item order
// Example: .grid--bp-med-order__2
@each $bp, $px in $breakpoints {
  @include breakpoint($px, 'min-width') {
    .grid--bp-#{$bp}-order {
      @each $order in $grid-order {
        &__#{$order} {
          @include change-order($order);
        }
      }
    }
  }
}

// Creates all the grid item classes
// Examples: .grid__6
@each $column in $grid-columns {
  .grid__#{$column} {
    @include make-column($column);
  }
}

// Creates all the breakpoint grid classes
// Examples: .grid--bp-med-2-col, .grid--bp-sml-1-col
@each $bp, $px in $breakpoints {
  @include breakpoint($px, min-width) {
    .grid--bp-#{$bp} {
      @each $column in $grids {
        &-#{$column}-col {
          > .grid__item {
            @include make-repeating-column($column);
          }
        }
      }
    }
  }
}

// Creates all the breakpoint grid ITEM classes
// Example: .grid--bp-med__8
@each $bp, $px in $breakpoints {
  @include breakpoint($px, 'min-width') {
    .grid--bp-#{$bp} {
      @each $column in $grid-columns {
        &__#{$column} {
          @include make-column($column);
        }
      }
    }
  }
}

// Creates all the offset class
// Example: .grid__item--med-offset-2
// @each $bp, $px in $breakpoints {
//   @include breakpoint($px, 'min-width') {
//     .grid__item--#{$bp}-offset {
//       @each $column in $grid-columns-push {
//         &-#{$column} {
//           @include make-column-push($column);
//         }
//       }
//     }
//   }
// }

// @each $bp, $px in $breakpoints {
//   @include breakpoint($px, 'min-width') {
//     .grid--bp-#{$bp}__offset {
//       @each $column in $grid-columns {
//         &-#{$column} {
//           @include make-column-push($column);
//         }
//       }
//     }
//   }
// }
