// General helpers
// ----
//
.clearfix {
  @include clearfix;
}

// Positioning helpers
// ----
//
.pull--left {
  float: left;
}
// .pull--bp-med--left
// @each $bp, $px in $breakpoints {
//   @include breakpoint($px, min-width) {
//     .pull--bp-#{$bp}--left {
//       float: left;
//     }
//   }
// }

.pull--right {
  float: right;
}
// @each $bp, $px in $breakpoints {
//   @include breakpoint($px, min-width) {
//     .pull--bp-#{$bp}--right {
//       float: right;
//     }
//   }
// }

// Visibility helpers
// ----
//

// .show--bp-med
@each $bp, $px in $breakpoints {
  @include breakpoint($px, max-width) {
    .show--bp-#{$bp} {
      display: none !important;
    }
  }
}

// .hidden--bp-med
@each $bp, $px in $breakpoints {
  @include breakpoint($px, min-width) {
    .hidden--bp-#{$bp} {
      display: none !important;
    }
  }
}

.superhidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  clip: rect(0 0 0 0);
  border: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  position: absolute;
  &.focusable:active,
  &.focusable:focus {
    clip: auto;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
  }
}

// Print classes
// ----
//
.print-only,
.print-only-inline {
  display: none;
}
.screen-only {
  display: block;
}
.screen-only-inline {
  display: inline;
}