%ext-icon-style {
  display: inline-block;
  border: none;
  font-family: $font-family-icons;
  font-weight: $font-weight-regular;
  font-style: normal;
  font-size: inherit;
  line-height: inherit;
  text-indent: 0;
  text-transform: none;
  vertical-align: bottom;
  text-rendering: auto; // optimizelegibility throws things off #1094
  transform: translate(0, 0); // ensures no half-pixel rendering in firefox
}

// Include fonts
//
@font-face {
  font-family: $font-family-icons;
  src: url('#{$fonts-path}/#{$fonts-icon-name}.eot');
  src: url('#{$fonts-path}/#{$fonts-icon-name}.eot?#iefix') format('embedded-opentype'),
    url('#{$fonts-path}/#{$fonts-icon-name}.woff') format('woff'),
    url('#{$fonts-path}/#{$fonts-icon-name}.ttf') format('truetype'),
    url('#{$fonts-path}/#{$fonts-icon-name}.svg#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Base class definition
.#{$fonts-icon-class} {
  &--before {
    &:before {
      @extend %ext-icon-style;
      margin-right: $rh-xxs;
    }
  }
  &--after {
    &:after {
      @extend %ext-icon-style;
      margin-left: $rh-xxs;
    }
  }
  &--replace {
    &:before,
    &:after {
      @extend %ext-icon-style;
    }
  }
  &--social {
    @include fsRem(28px);
    line-height: 1;
  }
}