img {
  max-width: 100%;
  height: auto;
}

.image {
  &--responsive {
    max-width: 100%;
    height: auto;
  }
  &--full-width {
    width: 100%;
    height: auto;
  }
  &--right {
    float: right;
    margin-left: $vr-m;
    margin-bottom: $vr-s;
  }
  &--left {
    float: left;
    margin-right: $vr-m;
    margin-bottom: $vr-s;
  }
}

