.link {
  &--ext {
    display: inline-block;
    &:after {
      @extend %ext-icon-style;
      content: '\f111';
    }
  }
  &--grayscale {
    img {
      @include grayscale;
      @include transitions((filter));
    }
    &:hover {
      img {
        filter: none;
      }
    }
  }
}
