.link {
  &--ext {
    position: relative;
    display: inline-block;
    padding-right: 12px;
    &:after {
      content: '\f111';
      position: absolute;
      bottom: 0;
      right: 0;
      font-family: $font-family-icons;
    }
  }
  &--grayscale {
    img {
      @include grayscale;
      @include transitions((filter));
    }
    &:hover {
      img {
        filter: none;
      }
    }
  }
}
