// Selection style
//
::-moz-selection { background: rgba($color-link,0.8); color: #fff; text-shadow: none; }
::selection { background: rgba($color-link,0.8); color: #fff; text-shadow: none; }

// Reset box-sizing
//
*, *:before, *:after { box-sizing: border-box; }

// Page loading style
//
html {
  &.js {
    &:before,
    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
    }
    &:before {
      overflow: hidden;
    }
    &:after {
      animation: move 1s linear infinite;
      position: absolute;
      top: 0;
      left: -100%;
      z-index: 10;
      background: $color-brand-primary;
    }
  }
  &.wf-active,
  &.wf-inactive,
  &.js-done {
    &:before,
    &:after {
      display: none;
    }
  }
}

body {
  .js & {
    visibility: hidden !important;
  }
  .js-done & {
    visibility: visible !important;
  }
}

// Html
//
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0,0,0,.004);
}
// Body
//
body {
  min-width: 300px;
  background-color: $color-background;
  color: $color-text;
  font-family: $font-family-base;
  @include fsRem($font-size-base);
  font-weight: $font-weight-base;
  line-height: lh($line-height-base);
}


// Reset fonts for relevant elements
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
textarea {
  resize: vertical;
}

// Links
a {
  @include transitions((color, background, border));
  color: $color-link;
  &:visited {
    color: $color-link-visited;
  }
  &:hover,
  &:focus {
    color: $color-link-hover;
    text-decoration: none;
  }
}

// Paragraphs
p {
  margin: 0 0 $line-height-base;
}

hr {
  margin-top: $line-height-base;
  margin-bottom: $line-height-base;
  border: 0;
  border-top: 1px solid $gray-25;
}

// SVG
svg {
  fill: currentColor;
}

/*! == Helper classes == */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
  &:before {
    content: '';
    display: block;
    width: 0;
    height: 100%;
  }
}
.superhidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  clip: rect(0 0 0 0);
  border: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  position: absolute;
  &.focusable:active,
  &.focusable:focus {
    clip: auto;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
  }
}
.invisible {
  visibility: hidden;
}
.clearfix {
  @include cf;
}
.print-only,
.print-only-inline {
    display: none;
}
.pull--left {
  float: left;
}
.pull--right {
  float: right;
}
