// Headings
.heading {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
  text-transform: none;

  margin-top: ceil($line-height-base * 1.5);
  margin-bottom: floor($line-height-base * .75);
  a {
    @include link-variant(inherit);
    text-decoration: none;
  }
  small,
  .small {
    font-size: 65%;
    font-weight: normal;
    line-height: 1;
    color: $gray-50;
  }
  &--alt {
    color: $headings-color-alt;
  }
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
.heading--1 {
  @extend .heading;
  @include fsRem($font-size-h1);
}
.heading--2 {
  @extend .heading;
  @include fsRem($font-size-h2);
}
.heading--3 {
  @extend .heading;
  @include fsRem($font-size-h3);
}
.heading--4 {
  @extend .heading;
  @include fsRem($font-size-h4);
}
.heading--5 {
  @extend .heading;
  @include fsRem($font-size-h5);
}

h1 {
  @extend .heading--1;
}
h2 {
  @extend .heading--2;
}
h3 {
  @extend .heading--3;
}
h4 {
  @extend .heading--4;
}
h5 {
  @extend .heading--5;
}


h1, h2, h3, h4, h5 {
  + h1, + h2, + h3, + h4, + h5 {
    margin-top: 0;
  }
}

// Stand out text
.text--lead {
  font-size: fs($font-size-large);
}

// Alignment
.text--left {
  text-align: left;
}
.text--right {
  text-align: right;
}
.text--center {
  text-align: center;
}
.text--justify {
  text-align: justify;
}
.text--nowrap {
  white-space: nowrap;
}

// Transformation
.text--lowercase {
  text-transform: lowercase;
}
.text--uppercase {
  text-transform: uppercase;
}
.text--capitalize {
  text-transform: capitalize;
}

.text--overflow {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Mark
mark,
.text--mark {

}

// Del, s
del,
s {
  text-decoration: line-through;
}

// Underline
u {
  text-decoration: underline;
}

// Small
small,
.small {
  font-size: fs($font-size-small);
}

// Strong
strong {
  font-weight: $font-weight-bold;
}

// Italic
em {
  font-style: italic;
}

// Abbr
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted $gray-50;
}

// Blockquote
blockquote {
  border-left: 3px solid $gray-25;
  margin: $line-height-base 0;
  padding-left: $rh-xsm;
}
