// Headings
// By default, this inherits from the `<body>`.
$headings: h1, h2, h3, h4, h5, h6;
$headings-font-family: inherit !default;
$headings-font-weight: $font-weight-bold !default;
$headings-line-height: 1.1 !default;
$headings-color: inherit !default;

// Optional
$headings-color-alt: null !default;

%ext-heading {
  margin-top: ceil($line-height-base * 1.5);
  margin-bottom: floor($line-height-base * .75);
  color: $headings-color;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  text-transform: none;
  a {
    @include link-variant(inherit);
    text-decoration: none;
  }
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.heading {
  &--1 {
    @extend %ext-heading;
    @include fsRem($font-size-h1 * .65);
    @include breakpoint(map-get($breakpoints, xsm)) {
      @include fsRem($font-size-h1 * .75);
    }
    @include breakpoint(map-get($breakpoints, sml)) {
      @include fsRem($font-size-h1 * .9);
    }
    @include breakpoint(map-get($breakpoints, med)) {
      @include fsRem($font-size-h1);
    }
  }
  &--2 {
    @extend %ext-heading;
    @include fsRem($font-size-h2 * .85);
    @include breakpoint(map-get($breakpoints, sml)) {
      @include fsRem($font-size-h2);
    }
  }
  &--3 {
    @extend %ext-heading;
    @include fsRem($font-size-h3);
  }
  &--4 {
    @extend %ext-heading;
    @include fsRem($font-size-h4);
  }
  &--5 {
    @extend %ext-heading;
    @include fsRem($font-size-h5);
  }
  @if global-variable-exists(headings-color-alt) {
    &--alt {
      color: $headings-color-alt;
    }
  }
}

h1 {
  @extend .heading--1;
}
h2 {
  @extend .heading--2;
}
h3 {
  @extend .heading--3;
}
h4 {
  @extend .heading--4;
}
h5 {
  @extend .heading--5;
}

#{$headings} {
  & + & {
    margin-top: 0;
  }
}

// Stand out text
.text--lead {
  font-size: fs($font-size-lrg);
}
.text--info {
  color: $gray-50;
}

// Alignment
.text--left {
  text-align: left;
}
.text--right {
  text-align: right;
}
.text--center {
  text-align: center;
}
.text--justify {
  text-align: justify;
}
.text--nowrap {
  white-space: nowrap;
}

// E.g.: .text--bp-med--left
@each $bp, $px in $breakpoints {
  @include breakpoint($px, 'min-width') {
    .text--bp-#{$bp}--left {
      text-align: left;
    }
  }
}
// E.g.: .text--bp-med--right
@each $bp, $px in $breakpoints {
  @include breakpoint($px, 'min-width') {
    .text--bp-#{$bp}--right {
      text-align: right;
    }
  }
}

// Transformation
.text--lowercase {
  text-transform: lowercase;
}
.text--uppercase {
  text-transform: uppercase;
}
.text--capitalize {
  text-transform: capitalize;
}

.text--overflow {
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Strong
strong {
  font-weight: $font-weight-bold;
}

// Italic
em {
  font-style: italic;
}

// Abbr
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted $gray-50;
}

// Blockquote
blockquote {
  border-left: 3px solid $gray-25;
  margin: $line-height-base 0;
  padding-left: $rh-xsm;
}
