.block {
  display: block;
  flex: 1 0 auto;
  &--panel {
    background: $gray-0;
    padding: $rh-sml;
    @include breakpoint(map-get($breakpoints, lrg)){
      padding: $rh-med;
    };
  }
  &__section {
    & + & {
      margin-top: $rh-sml;
    }
  }
}
