.breadcrumb {
  @include fsRem(14px);

  &__item {
    a {
      @include link-variant($color-text, $color-link);
    }
    &:after {
      content: '\f105';
      margin: 0 2px;
      font-family: $font-family-icons;
    }
    &--active {
      a {
        @include link-variant($color-primary);
        text-decoration: none;
      }
      &:after {
        display: none;
      }
    }
  }
}
