.breadcrumb {
  clear: both;
  margin: 20px 0;
  color: $base-font-color;
  font-size: fs(12px);
  font-weight: bold;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .active {

  }
}
