.breadcrumb {
  @include fsRem(14px);

  &__item {
    @include link-variant($color-text, $color-link);
    &--active {
      @include link-variant($color-primary);
      text-decoration: none;
    }
  }
  &__scope {
    & + & {
      &:before {
        content: '\f111';
        margin: 0 2px;
        font-family: $font-family-icons;
      }
    }
  }
}
