/*! Button */
.btn {
  transition: background $base-transition-duration $base-transition-easing;
  text-transform: uppercase;
  display: inline-block;
  background-color: black;
  color: white;
  border: none;
  height: 35px;
  padding: 5px 15px;
  line-height: 1;
  &:hover,
  &:focus {
    background-color: gray;
    color: black;
  }

  + .btn {
    margin-left: 10px;
  }

  // Modifiers
  &.-large {
    @include fsRem(15px);
    padding: 10px 20px;
  }
  &.-link {
    @include fsRem($base-font-size);
    line-height: lh($base-line-height);
    background: transparent;
    padding: 0;
    text-transform: none;
    @extend a;
  }
}

a.btn {
  text-decoration: none;
}

