.excerpt {
  @include cf;
  display: block;
  color: inherit;
  text-decoration: none;
  &__section {
    & + & {
      margin-top: $rh-sml;
    }
    &--header {
      #{$headings} {
        margin-bottom: 0;
      }
    }
  }
  &__img {
    overflow: hidden;
    text-align: center;
    img {
      @include transitions(all);
      display: block;
      max-width: 100%;
      height: auto;
    }
  }
  &__link {
    @include transitions(color);
    display: inline-block;
    color: $color-link;
    text-decoration: underline;
  }
  &__meta {
    margin-top: $rh-xxs;
  }

  &__aside {
    @include breakpoint(map-get($breakpoints, sml), max-width) {
      margin-bottom: $rh-xsm;
    }
    @include breakpoint(map-get($breakpoints, sml)) {
      float: left;
      width: 160px;
      ~ .excerpt__main {
        margin-left: 180px;
      }
    }
  }
}


a.excerpt,
.excerpt--link {
  @include link-variant(inherit);
  text-decoration: none;
  &:hover,
  &:focus {
    #{$headings} {
      color: inherit;
    }
    .excerpt__img {
      img {
        transform: translateZ(0) scale(1.1);
      }
    }
    .excerpt__link {
      color: $color-link;
      text-decoration: none;
    }
  }
}
