.form {
  // Modifiers
  &.-inline {
    @include cf;
    .form__item {
      float: left;
      margin-bottom: 0;
    }
  }
  // Search form
  &.-search {
    @include column(4);
    float: right;
    clear: right;
    padding-right: 75px;
    position: relative;
    margin-bottom: 20px;
    .form__item {
      width: 100%;
    }
    .form__text {
      background: $white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAQAAACRZI9xAAAArUlEQVQoz33QYRWFIAyG4VWgghWoQAUqUIEKVrCCFd4KVrCCFb77Q5DhOd6zPzAexphhGEZm50IcrISWMwyTGUZgRy4u8pt0cABXW0dPSruZuCtuCHF6ctdI7n18HZm1Jl2DZISogwjBRNKbHIhr+mhFiDLIihDbA2L7VRhkaSnIJGrb7fNc8jS4HsUTI3K6wz7K6snNKpVCoI9TbDOZ40HfZKD0TTqK/4ixsMh+cvo988EeoqwAAAAASUVORK5CIIA=) no-repeat 10px center;
      padding-left: 35px;
    }
    .btn {
      width: 75px;
      padding: 0;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  // Newsletter form
  &.-newsletter {
    padding-right: 35px;
    position: relative;
    .form__label {
      @extend .visuallyhidden;
    }
    .form__text {
      background-color: $white;
    }
    .form__item {
      width: 100%;
    }
    .btn {
      @include fsRem(25px);
      width: 35px;
      padding: 0;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.form__item {
  margin-bottom: 20px;
}

.form__label {
  font-weight: $bold;
  line-height: lh(22px);
  display: block;
  padding-bottom: 5px;
  &.-radio,
  &.-checkbox {
    font-weight: $regular;
    padding-bottom: 0;
    position: relative;
    padding-left: 25px;
    input {
      position: absolute;
      left: 0;
      top: 2px;
    }
  }
  &[for] {
    cursor: pointer;
  }
}

.form__text,
.form__textarea {
  border: none;
  padding: 5px 15px;
  width: 100%;
  background-color: $white;
  &:focus {
    outline: none;
    background-color: $white;
    box-shadow: 0 0 10px 2px rgba(blue, .5);
    &::-webkit-input-placeholder {
      color: transparent;
    }
    &::-moz-placeholder {
      color: transparent;
    }
  }
  &.parsley-error {
    // border: 2px solid $red-50;
    background-color: lighten(red, 40%);
  }
}
.form__textarea {
  min-height: 100px;
  padding: 7px;
}

.form__radio,
.form__checkbox {
  vertical-align: 0;
  label + & {
    margin-right: 0;
    margin-left: 5px;
  }
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

.form__actions {
  clear: both;
  margin-top: 10px;
}

.form__select {
  margin-top: 10px;
}

.form__description {
  @include fsRem(13px);
  font-style: italic;
  color: $gray-50;
}

// Error handeling
.parsley-errors-list {
  @include listreset;
  @include fsRem(13px);
  color: red;
  margin: 5px 0;
  font-weight: $bold;
}
