.gallery {
  @include cf;
  clear: both;
  margin-bottom: 20px;
  img {
    width: 100%;
    height: auto;
  }
}

.colorbox,
.colorbox--video {
  position: relative;
  overflow: hidden;
  display: block;
  &:before {
    content: '+';
    @include fsRem(30px);
    line-height: lh(44px, 30px);
    color: $color-primary;
    background: $white;
    text-align: center;
    display: block;
    margin-left: -23px;
    margin-top: -23px;
    position: absolute;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    z-index: 100;
    opacity: 0;
    @include transitions(opacity, 400ms);
    transition-delay: 100ms;
  }
  &:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $color-primary;
    background-color: rgba($color-primary , .6);
    opacity: 0;
    @include transitions(opacity, 400ms);
  }
  img {
    @include transitions(transform, 400ms);
  }
  &:hover {
    &:after , &:before {
      opacity: 1;
    }
    img {
      transform: scale(1.1);
    }
  }
}
.colorbox--video {
  &:before {
    opacity: 1;
    content: '\f04b';
    font-family: $font-family-icons;
    @include fsRem(22px);
    line-height: lh(48px, 22px);
    text-indent: 5px;
  }
}


/* COLORBOX */
/** ColorBox core style: The following CSS is consistent between example themes and should not be altered. **/
#colorbox, #cboxOverlay, #cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
  transform: translate3d(0,0,0);
}
#cboxOverlay {
  position: fixed;
  width: 100%;
  height:100%;
}
#cboxMiddleLeft, #cboxBottomLeft {
  clear: left;
}
#cboxContent {
  position: relative;
}
#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
#cboxTitle { margin:0; }
#cboxLoadingOverlay, #cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
  cursor: pointer;
}
.cboxPhoto {
  float: left;
  display:block;
  margin: auto;
  border: 0;
  max-width: none;
  -ms-interpolation-mode: bicubic;
}
.cboxIframe {
  display:block;
  width: 100%;
  height: 100%;
  border:0;
}
#colorbox, #cboxContent, #cboxLoadedContent {
  box-sizing: content-box;
  &:focus {
    outline: 0;
  }
}

/** Colorbox user added styles **/
#cboxOverlay {
  background: darken($white, 10%);
  background: darken($white, 10%);
}
#cboxContent {
  position: relative;
  background: $white;
}
#cboxPrevious,
#cboxNext,
#cboxClose {
  @include transitions((all));
  cursor: pointer;
  position: absolute;
  z-index: 200;
  top: 50%;
  width: 2em;
  padding: 0;
  margin-top: -0.5em;
  border: none;
  color: $white;
  font-size: fs(28px);
  line-height: 1.6;
  text-align: center;
  background: $color-primary;
  &:hover {

  }
}
#cboxPrevious,
#cboxNext {
  padding-bottom: 0.2em;
}
#cboxPrevious {
  left: -0.4em;
  text-indent: 0.4em;
  &:hover {
    left: -2px;
  }
  &:active {
    left: -4px;
  }
}
#cboxNext {
  right: -0.4em;
  text-indent: -0.4em;
  &:hover {
    right: -2px;
  }
  &:active {
    right: -4px;
  }
}
#cboxClose {
  top: 10px;
  right: 10px;
  width: 1.6em;
  margin: 0;
}

#cboxTitle {
  color: $white;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: $rh-sml $rh-med;
  background: $black;
  background: rgba($black, .7);
  &:empty {
    display: none !important;
  }
}
#cboxCurrent {
  display: none !important;
}
