.gallery {
  @include cf;
  clear: both;
  margin-bottom: $rh-med;
  img {
    width: 100%;
    height: auto;
  }
}

/* COLORBOX */
/** ColorBox core style: The following CSS is consistent between example themes and should not be altered. **/
#colorbox, #cboxOverlay, #cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
}
#cboxOverlay {
  position: fixed;
  width: 100%;
  height:100%;
}
#cboxMiddleLeft, #cboxBottomLeft {
  clear: left;
}
#cboxContent {
  position: relative;
}
#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
#cboxTitle { margin:0; }
#cboxLoadingOverlay, #cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
  cursor: pointer;
}
.cboxPhoto {
  float: left;
  display:block;
  margin: auto;
  border: 0;
  max-width: none;
  -ms-interpolation-mode: bicubic;
}
.cboxIframe {
  display:block;
  width: 100%;
  height: 100%;
  border:0;
}
#colorbox, #cboxContent, #cboxLoadedContent {
  box-sizing: content-box;
}

/** Colorbox user added styles **/
#cboxOverlay {
  background: darken($white, 10%);
  background: rgba(darken($white, 10%), .9);
}
#cboxContent {
  position: relative;
  background: $white;
}
#cboxPrevious,
#cboxNext,
#cboxClose {
  @include transitions((all));
  cursor: pointer;
  position: absolute;
  z-index: 200;
  top: 50%;
  width: 2em;
  padding: 0;
  margin-top: -0.5em;
  border: none;
  color: $white;
  font-size: fs(28px);
  line-height: 1.6;
  text-align: center;
  background: $black;
  &:hover {

  }
}
#cboxPrevious,
#cboxNext {
  padding-bottom: 0.2em;
}
#cboxPrevious {
  left: -0.4em;
  text-indent: 0.4em;
  &:hover {
    left: -2px;
  }
  &:active {
    left: -4px;
  }
}
#cboxNext {
  right: -0.4em;
  text-indent: -0.4em;
  &:hover {
    right: -2px;
  }
  &:active {
    right: -4px;
  }
}
#cboxClose {
  top: 10px;
  right: 10px;
  width: 1.6em;
  margin: 0;
}
