.gallery {

  &__image,
  &__video {

    position: relative;
    overflow: hidden;

    &:before {
      @extend %ext-icon-style;
      @include transitions(opacity);
      @include fsRem($font-size-lrg);
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: (-$rh-med / 2);
      margin-left: (-$rh-med / 2);
      line-height: lh($rh-med, $font-size-lrg);
      width: $rh-med;
      text-align: center;
      color: $color-primary;
      background: $white;
      border-radius: 50%;
      opacity: 0;
    }

    img {
      @include transitions(transform);
      display: block;
    }

    &:hover,
    &:focus {
      img {
        transform: translateZ(0), scale(1.05);
      }
      &:before {
        opacity: 1;
      }
    }
  }
  &__image {
    &:before {
      content: '\f109';
    }
  }
  &__video {
    &:before {
      content: '\f116';
    }
  }
}

#colorbox,
#cboxOverlay,
#cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
}

#cboxMiddleLeft,
#cboxBottomLeft {
  clear: left;
}

#cboxContent {
  position: relative;
}

#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#cboxTitle {
  margin: 0;
}

#cboxLoadingOverlay,
#cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#cboxPrevious,
#cboxNext,
#cboxClose,
#cboxSlideshow {
  cursor: pointer;
}

.cboxPhoto {
  float: left;
  display:block;
  margin: auto;
  border: 0;
  max-width: none;
  -ms-interpolation-mode: bicubic;
}

.cboxIframe {
  display:block;
  width: 100%;
  height: 100%;
  border:0;
}

#colorbox,
#cboxContent,
#cboxLoadedContent {
  box-sizing: content-box;
  &:focus {
    outline: 0;
  }
}

#cboxOverlay {
  background: darken($white, 10%);
  background: darken($white, 10%);
}

#cboxContent {
  position: relative;
  background: $white;
}

#cboxPrevious,
#cboxNext,
#cboxClose {
  @include transitions(all);
  cursor: pointer;
  position: absolute;
  z-index: 200;
  top: 50%;
  width: 2em;
  padding: 0;
  margin-top: -0.5em;
  border: none;
  color: $white;
  font-size: fs(28px);
  line-height: 1.6;
  text-align: center;
  background: $color-primary;
  &:hover {

  }
}

#cboxPrevious,
#cboxNext {
  padding-bottom: 0.2em;
}

#cboxPrevious {
  left: -0.4em;
  text-indent: 0.4em;
  &:hover {
    left: -2px;
  }
  &:active {
    left: -4px;
  }
}

#cboxNext {
  right: -0.4em;
  text-indent: -0.4em;
  &:hover {
    right: -2px;
  }
  &:active {
    right: -4px;
  }
}

#cboxClose {
  top: 10px;
  right: 10px;
  width: 1.6em;
  margin: 0;
}

#cboxTitle {
  color: $white;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: $rh-sml $rh-med;
  background: $black;
  background: rgba($black, .7);
  &:empty {
    display: none !important;
  }
}

#cboxCurrent {
  display: none !important;
}