.image {
  &.-responsive {
    max-width: 100%;
    height: auto;
  }
  &.-full-width {
    width: 100%;
    height: auto;
  }
  &.-right {
    float: right;
    margin-left: 20px;
    margin-bottom: 10px;
  }
  &.-left {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
  }
}
