.container {
  @include cf;
  max-width: 980px;
  margin: 0 auto;
  padding: 0 10px;
}

.grid-1 {
  @include column(1);
  &:nth-child(12n+13) {
    clear: left;
  }
}
.grid-2 {
  @include column(2);
  &:nth-child(6n+7) {
    clear: left;
  }
}
.grid-3 {
  @include column(3);
  &:nth-child(4n+5) {
    clear: left;
  }
}
.grid-4 {
  @include column(4);
  &:nth-child(3n+4) {
    clear: left;
  }
}
.grid-5 {
  @include column(5);
}
.grid-6 {
  @include column(6);
  &:nth-child(2n+3) {
    clear: left;
  }
}
.grid-7 {
  @include column(7);
}
.grid-8 {
  @include column(8);
}
.grid-9 {
  @include column(9);
}
.grid-10 {
  @include column(10);
}
.grid-12 {
  @include column(12);
}


.push-2 {
  @include column-push(2);
}
