.container {
  max-width: 960px;
  margin: 0 auto;
}
.sidebar {
  float: left;
  padding-right: 20px;
  width: 25%;
}
.main {
  float: left;
  width: 75%;
}
@include breakpoint($bp-small) {
  .main,
  .sidebar {
    float: none;
    padding-right: 0;
    width: auto;
  }
}

.panel-2col {
  @include cf;
  > .panel-col-first {
    float: left;
    width: 65%;
  }
  > .panel-col-last {
    float: right;
    width: 35%;
    padding-left: 20px;
  }
}
