.list {

}

.list--inline {
  @extend .list !optional;
  @include cf;
  li {
    float: left;
    margin: 0 .5em 0 1.5em;
  }
}

.list--no-bullets {
  list-style: none;
  padding-left: 0;
}

.list--blocked {
  list-style: none;
  margin: 10px 0;
  padding-left: 10px;
  li {
    padding-left: 17px;
    position: relative;
    &:before {
      content: '\3c';
      font-family: $font-family-icons;
      color: gray;
      font-size: fs(9px);
      position: absolute;
      left: 0;
      top: 3px;
    }
  }
  &.list--no-bullets {
    padding-left: 0;
    li {
      padding-left: 0;
      &:before {
        display: none;
      }
    }
  }
}

/*
ul, ol {
  @include listreset();
  margin: 0 0 1em;
  li {
    position: relative;
    padding-left: 16px;
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      color: black;
    }
  }
  ul, ol {
    margin-bottom: 0;
  }
}

ul {
  li {
    &:before {
      content: "\bb";
    }
  }
}

ol {
  counter-reset: numbering;
  li {
    &:before {
      content: counter(numbering) ".";
      counter-increment: numbering;
      position: absolute;
    }
  }
}
*/
