.map {
  position: relative;
  &:before {
    content: '';
    display: block;
    padding-bottom: 75%;
  }
  &--square:before {
    padding-bottom: 100%;
  }
  &--wide:before {
    padding-bottom: 80%;
    @include breakpoint(map-get($breakpoints, sml)) {
      padding-bottom: 30%;
    };
  }
}

.map__canvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
