.meta {
  margin-top: $rh-xxs;
  color: $gray-50;
  line-height: 1.2;
  &__item {
    position: relative;
    display: inline-block;
    padding-right: $rh-med;
    &:after {
      content: '';
      height: .9em;
      position: relative;
      left: (($rh-med / 2) + 2);
      top: 0.1em;
      display: inline-block;
      border-left: 1px solid $gray-50;
    }
    &:last-child {
      padding-right: 0;
      &:after {
        display: none;
      }
    }
  }
}