%ext-default-nav {
  ul {
    @include listreset;
    @include cf;
  }
  li {
    float: left;
  }
  a {
    text-decoration: none;
  }
}

.nav {
  &--service {
    @extend %ext-default-nav;
    float: right;
    margin-bottom: 15px;
    li + li {
      &:before {
        content: '\2022';
        display: inline-block;
        margin: 0 5px;
      }
    }
  } // end .-service

  &--main {
    @extend %ext-default-nav;
    @include fsRem(16px);
    font-weight: $font-weight-bold;
    a {
      display: block;
      padding: 8px 10px;
      &:hover,
      &:focus,
      &.active {

      }
    }
  } // end .-main

  &--language {
    float: right;
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    margin-top: 20px;
    li {
      float: none;
      margin-bottom: 5px;
    }
    a {
      color: black;
      background: gray;
      display: block;
      padding: 10px;
      &:hover,
      &:focus,
      &.active {
        color: pink;
      }
    }
  } // end .-language

  &--inline {
    @extend %ext-default-nav;
    // ul {
    //   @extend %ext-listreset;
    // }
    li + li {
      border-left: 1px solid $gray-25;
      margin-left: $rh-xsm;
      padding-left: $rh-xsm;
    }
  }

  &--list {
    line-height: lh($line-height-base);
    li {
      float: none;
    }
  } // end .-list
}
