%ext-default-nav {
  line-height: 1;
  ul {
    @include listreset;
    @include cf;
  }
  li {
    float: left;
  }
  a {
    text-decoration: none;
  }
}

.nav {
  &--service {
    @extend %ext-default-nav;
    float: right;
    margin-bottom: 15px;
    li + li {
      &:before {
        content: '\2022';
        display: inline-block;
        margin: 0 5px;
      }
    }
  } // end .-service

  &--main {
    @extend %ext-default-nav;
    @include fsRem(16px);
    font-weight: $font-weight-bold;
    clear: right;
    float: right;
    a {
      display: block;
      color: black;
      background: gray;
      padding: 8px 10px;
      &:hover,
      &:focus,
      &.active {
        color: cyan;
      }
    }
  } // end .-main

  &--language {
    float: right;
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    margin-top: 20px;
    li {
      float: none;
      margin-bottom: 5px;
    }
    a {
      color: black;
      background: gray;
      display: block;
      padding: 10px;
      &:hover,
      &:focus,
      &.active {
        color: pink;
      }
    }
  } // end .-language

  &--list {
    line-height: lh($line-height-base);
    li {
      float: none;
    }
  } // end .-list
}

.nav--flyout {
  @include transitions((transform));
  width: 240px;
  transform: translateX(-240px);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background: $gray-25;
  display: none;
  .flyout-enabled & {
    display: block;
  }
  .flyout-active & {
    transform: translateX(0);
  }
  ul {
    @include transitions((transform));
    @include listreset;
    width: 100%;
    background: $gray-25;
    padding-top: 50px;
    ul {
      position: absolute;
      top: 0;
      bottom: 0;
      transform: translateX(240px);
    }
  }
  .active {
    > ul {
      transform: translateX(0);
    }
  }
  a:not(:only-child) {
    &:after {
      content: '\34';
      float: right;
      font-family: $font-family-icons;
    }
  }

  .flyout-close {
    display: block;
    text-align: right;
    padding: 5px;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 1001;
  }
}
