.navbar {
  @include clearfix();
  background: $gray-100;
  color: $white;
  margin-bottom: $rh-sml;
}


// Brand/project name
.navbar__brand {
  color: $white;
  background: $color-brand-primary;
  font-weight: $font-weight-bold;
  text-decoration: none;
  float: left;
  padding: $rh-xsm;
  text-transform: uppercase;
  // @include fsRem($font-size-large);
  &:hover,
  &:focus,
  &:visited {
    color: $white;
  }
}

.navbar__nav {
  @include listreset;
  float: left;
  > li {
    float: left;
    > a {
      font-weight: $font-weight-bold;
      display: inline-block;
      padding: $rh-xsm;
      color: $gray-0;
      text-decoration: none;
      &:hover {
        color: $white;
        background: $gray-75;
      }
      .icon:first-child {
        margin-right: 5px;
      }
      .icon:last-child {
        margin-right: 0;
      }
    }
  }
}

.navbar__form {
  margin-top: 4px;
  padding: 0 $rh-xsm;
  color: $color-text;
}


.navbar__left {
  float: left;
}
.navbar__right {
  float: right;
}
