.notice {
  border: 1px solid;
  padding: $rh-sml;
  padding-right: $rh-med;
  margin-bottom: $line-height-base;
  position: relative;

  @each $type, $color in $notice-colors {
    &--#{$type} {
      color: $color;
      background: hsl(hue($color), saturation($color), 95%);
      border-color: hsl(hue($color), saturation($color), 85%);
      .btn--close {
        color: lighten($color, 20%);
        &:hover {
          color: lighten($color, 30%);
        }
      }
    }
  }

  > p,
  > ul {
    margin-bottom: 0;
  }
  > p + p {
    margin-top: $rh-xsm;
  }
  .btn--close {
    position: absolute;
    right: 10px;
    top: 10px;
    line-height: 1;
    padding: 0 5px 2px;
  }
}

.notice__title {
  @extend .heading--4;
  margin-top: 0;
  font-weight: $font-weight-base;
}
