.pagination {
  @include listreset;
  line-height: 1;
  text-align: center;
  a {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
  }
  &__item {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
  }
  &__prev {
    &:before {
      content: '\2039';
      margin-right: $rh-xxs;
    }
  }
  &__next {
    &:after {
      content: '\203a';
      margin-left: $rh-xxs;
    }
  }
  &__link {
    margin: 0 $rh-xxs;
  }
  &__btn {
    @include button-variant($white, $color-primary);
    box-sizing: content-box;
    width: 1em;
    padding: $rh-xsm;
  }
}