.section {
  padding: $rh-med 0;
  &--border {
    border-bottom: 1px solid $gray-25;
    &:last-child {
      border-bottom: 0;
    }
  }
  &--small {
    padding: 15px 0;
  }
  &--background {
    background-color: $gray-0;
  }
  &--no-padding {
    padding: 0;
  }
}

// .section__title {
//   @extend .heading--2;
//   margin-bottom: 20px;
//   display: inline-block;
//   &--no-margin {
//     margin-bottom: 5px;
//   }
// }

// .section__link {
//   float: right;
// }
