.tags {
  @include fsRem($font-size-sml);
  margin-left: -$rh-xsm;
  margin-right: -$rh-xsm;
}
.tag {
  display: inline-block;
  vertical-align: baseline;
  margin-left: $rh-xxs;
  margin-right: $rh-xxs;
  color: $color-primary;
  font-style: italic;
}
