.tags {
  @include fsRem($font-size-sml);
  margin-left: -$rh-xsm;
  margin-right: -$rh-xsm;
}
.tag {
  display: inline-block;
  vertical-align: baseline;
  margin-left: $rh-xsm;
  margin-right: $rh-xsm;
  color: $color-primary;
  &:before {
    content: "\f02b";
    margin-right: $rh-xxs;
    @include fsRem($font-size-xsm);
    font-family: $font-family-icons;
  }
}
