// %ext-fake-gutters {
//   margin-left: $gutter-size;
//   margin-right: $gutter-size;
// }
%ext-darker-gradiant {
  background-image: linear-gradient(transparent, rgba($black, 0.25));
}
%ext-darker-gradiant-reverse {
  background-image: linear-gradient(rgba($black, 0.25), transparent);
}

%ext-lighter-gradiant {
  background-image: linear-gradient(rgba($white, 0.25), transparent);
}

%ext-lighter-gradiant-reverse {
  background-image: linear-gradient(transparent, rgba($white, 0.25));
}
