// Defaults which you can freely override
$gutter-width: 20px;
$columns: 12;

.row {
  @include cf;
  margin-left: -10px;
  margin-right: -10px;
}
@mixin column($x, $y: $columns) {
  float: left;
  padding-left: ($gutter-width/2);
  padding-right: ($gutter-width/2);
  width: round(percentage($x / $y)*1000)/1000;
}
@mixin column-push($x, $y: $columns) {
  margin-left: round(percentage($x / $y)*1000)/1000;
}
