// Micro clearfix provides an easy way to contain floats without adding additional markup
// Acknowledgements
// Micro clearfix: [Nicolas Gallagher](http://nicolasgallagher.com/micro-clearfix-hack/)
@mixin cf {
  zoom:1;
  &:before, &:after { content:""; display:table; }
  &:after { clear:both; }
}

// RWD Breakpoints
@mixin breakpoint($point, $query: min-width) {
  @media ($query: $point)  {
    @content;
  }
}

// Reset the list
@mixin listreset {
  list-style: none;
  margin: 0;
  padding: 0;
}

// A CSS image replacement method that does not require the use of text-indent.
@mixin hide-text {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

// Convert a px font size to rem
@mixin fsRem($font-size) {
  font-size: $font-size;
  font-size: fs($font-size);
}

// Easily add transitions
@mixin transitions($list, $time: $base-transition-duration, $easing: $base-transition-easing) {
    $transitions: ();

    @each $transition in $list {
      $trans: unquote("#{$transition} #{$time} #{$easing}");
      $transitions: append($transitions, $trans, comma);
    }

  transition: #{$transitions};
}
