// Micro clearfix provides an easy way to contain floats without adding additional markup
// Acknowledgements
// Micro clearfix: [Nicolas Gallagher](http://nicolasgallagher.com/micro-clearfix-hack/)
@mixin cf {
  zoom:1;
  &:before, &:after { content:""; display:table; }
  &:after { clear:both; }
}
// Example usage:
//
//    // Contain all floats within .wrapper
//    .wrapper {
//      @include cf;
//      .content,
//      .sidebar {
//        float : left;
//      }
//    }

// Examples usage:
//
//   a.button {
//     @include inline-block;
//   }

// RWD Breakpoints
@mixin breakpoint($point, $query: max-width) {
  @media ($query: $point)  {
    @content;
  }
}
// Examples usage:
// .page-wrap {
//  width: 75%;
//  @include breakpoint(large) { width: 60%; }
//  @include breakpoint(medium) { width: 80%; }
//  @include breakpoint(small) { width: 95%; }
//  @include breakpoint(30em, min-width) { margin-top: 10px;  }
// }

@mixin listreset {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin: 0;
    padding: 0;
    &:before {
      display: none;
      content: '';
    }
  }
}

// A CSS image replacement method that does not require the use of text-indent.
@mixin hide-text {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}
