/* Drupal */
#tabs {
  ul.primary {
    margin-bottom: 15px; background: url(../img/brdr-tabs.gif) repeat-x bottom left; padding-left: 10px; overflow: hidden; zoom: 1; border: none;
    li { padding: 0; margin: 0; list-style: none; }
    a {
      display: block; float: left; background-color: #fff; background-image: -moz-linear-gradient(top,#fff,#eee); background-image: -ms-linear-gradient(top,#fff,#eee); background-image: -o-linear-gradient(top,#fff,#eee); background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#eee)); background-image: -webkit-linear-gradient(top,#fff,#eee); background-image: linear-gradient(top,#fff,#eee); filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eeeeee'); border-radius: 00; -webkit-border-radius: 0; -moz-border-radius: 0; padding: 0.7em 1em; margin: 0 0 0 5px; color: #666; font-size: 1em; font-weight: bold; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6); border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; -moz-border-radius: 4px 4px 0 0; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; border-top: 1px solid #ccc; border-left: 1px solid #ccc; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc;
      &:hover,
      &.active { background: #fff; color: #444; z-index: 999; border-bottom: 1px solid #fff; filter: none; }
    }
  }
}

table#blocks { width: 99%; }
  #blocks tr.draggable { color: #333; }
    #blocks tr.draggable td { padding: 5px 5px 0; line-height: 20px; }
      table#blocks a, table#blocks a:hover { border: none; }

.contextual-links-region-active { overflow: auto; }
  a.contextual-links-trigger { border: none !important; background-color: transparent !important; }
div.contextual-links-wrapper ul.contextual-links { background: #fff !important; border: 1px solid #ccc !important; }
  ul.contextual-links li a { background-color: transparent !important; }

ul.menu { margin: 0; padding: 0; }
  ul.menu li { list-style: none outside none; }
  li.expanded, li.collapsed, li.leaf { margin: 0; padding: 0; }

.item-list ul { margin: 0; padding: 0; }
  .item-list ul li { margin: 0; padding: 0; list-style: none; }

.views-exposed-form .views-exposed-widget { float: none; padding: 0; }
  .views-exposed-widgets { margin: 0; }
  .views-exposed-form .views-exposed-widget .form-submit { margin: 0; }

/** Pager **/
.item-list .pager { clear: both; margin: 15px 0; padding: 0; text-align: center; }
  .item-list .pager li { display: inline; margin: 0; padding: 0; }
    .item-list .pager li a,
    .item-list .pager li span { display: inline-block; *display: inline; zoom: 1; }
    .item-list .pager li span,
    .item-list .pager li a:hover { background: #fff; color: #fff; }
    .pager-current { font-weight: normal; }

/** Forms **/
.form-checkboxes .form-item, .form-radios .form-item { margin: 0; }

.form-item { margin: 0 0 10px 0; }
  .form-item label { float: left; width: 150px; margin: 0 10px 0 0; line-height: 28px; }
  .form-text, input[type="text"], .form-textarea, textarea { padding: 4px 5px; margin: 0; background: #fff; border: 1px solid #000; }
  .form-text:focus, input[type="text"]:focus, .form-textarea:focus, textarea { outline: none; border-color: #ff0000; }

.form-actions { margin: 15px 0 0 0; }
  .form-submit, input[type="submit"], input[type="button"] { height: 30px; padding: 0 10px; margin: 0; background: #ff0000; border: 1px solid #ffff00; color: #fff; font-size: 0.929em; }
  .form-submit:hover, input[type="submit"]:hover, input[type="button"]:hover { color: #000; }

.form-item input.error, .form-item textarea.error, .form-item select.error { border: 1px solid red; }

#l10n-client.hidden { display: block; visibility: visible !important; }
